main{
  min-height: 80vh;
}

h1{
font-size: 1.8rem;
padding:1rem 0;
}

h2{
font-size: 1.4rem;
padding:0.5rem 0;
}

h3{
  padding:1rem 0;
}

.rating span{
margin:0.1rem;
}

.input-number {
  width: 100%;
  padding:10px 0;
  outline:none;
  border:none;
  border-bottom: 1px solid #ccc;
  text-align: center;
}

.btn-sign-in {
  background-image:linear-gradient(
    45deg,
    hsl(240deg 51% 82%) 0%,
    hsl(273deg 41% 80%) 11%,
    hsl(310deg 37% 80%) 22%,
    hsl(334deg 52% 83%) 33%,
    hsl(351deg 60% 85%) 44%,
    hsl(5deg 61% 86%) 56%,
    hsl(16deg 58% 85%) 67%,
    hsl(26deg 49% 85%) 78%,
    hsl(37deg 37% 85%) 89%,
    hsl(53deg 25% 86%) 100%
  )
}

.btn-add-cart{
  background-image: linear-gradient(
    45deg,
    hsl(55deg 35% 87%) 0%,
    hsl(41deg 36% 87%) 12%,
    hsl(28deg 36% 88%) 23%,
    hsl(15deg 36% 88%) 35%,
    hsl(1deg 36% 88%) 46%,
    hsl(348deg 36% 88%) 57%,
    hsl(334deg 36% 89%) 67%,
    hsl(321deg 37% 89%) 78%,
    hsl(307deg 37% 89%) 89%,
    hsl(294deg 37% 89%) 100%
    )
}

.btn-proceed-checkout {
  background-image: linear-gradient(
    45deg,
    hsl(88deg 35% 81%) 0%,
    hsl(61deg 33% 79%) 11%,
    hsl(42deg 49% 80%) 22%,
    hsl(30deg 63% 83%) 33%,
    hsl(20deg 75% 85%) 44%,
    hsl(10deg 82% 87%) 56%,
    hsl(357deg 80% 88%) 67%,
    hsl(343deg 71% 87%) 78%,
    hsl(325deg 53% 86%) 89%,
    hsl(294deg 38% 85%) 100%
    )
}

.header {
  background-image: linear-gradient(
    170deg,
    hsl(194deg 49% 76%) 0%,
    hsl(192deg 51% 76%) 14%,
    hsl(191deg 54% 75%) 27%,
    hsl(189deg 56% 74%) 40%,
    hsl(187deg 59% 74%) 52%,
    hsl(185deg 61% 73%) 65%,
    hsl(183deg 63% 73%) 76%,
    hsl(181deg 65% 72%) 88%,
    hsl(179deg 67% 71%) 100%
    )
}
.dropdown-menu  {
  border-radius: 10px;
}

.navbar {
  padding: 0.6rem 1rem !important;
}

/* carousel */
.carousel-item-next,
.carousel-item-prev,
.carousel-item.active {
display: flex;
}
.carousel-caption {
position: absolute;
top: 0;
}

.carousel-caption h4 {
color: #fff;
}

.carousel img {
display:block;
height: 300px;
padding: 30px;
margin: 40px; 
border-radius: 50%; 
margin-left: auto;
margin-right: auto;
}
.carousel a {
margin: 0 auto;
}
@media (max-width: 900px) {
.carousel-caption h2 {
  font-size: 2.5vw;
}
}

.breadcrumb {
  border-bottom: 2px solid cornflowerblue;
}