/* body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  background-color: #ffdee9;
  background-image: linear-gradient(0deg, #ffdee9 0%, #b5fffc 100%);
} */

.lgcontainer {
  width: 100vw;
  height: 100vh;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 7rem;
  padding: 0 2rem;
}
.login-img {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.login-img img {
  width: 500px;
}
.login-container {
  display: flex;
  align-items: center;
  text-align: center;
}
form.loginform {
  width: 360px;
}
form.loginform h2 {
  font-size: 2.9rem;
  text-transform: uppercase;
  letter-spacing: 5px;
  margin: 15px 0;
  color: #333;
}

.inputSignin-div {
  position: relative;
  display: grid;
  grid-template-columns: 7% 93%;
  margin: 25px 0;
  padding: 5px 0;
  border-bottom: 2px solid #d9d9d9;
}
.inputSignin-div:after,
.inputSignin-div::before {
  content: "";
  position: absolute;
  bottom: -2px;
  width: 0;
  height: 3px;
  background-color: #00deaf;
  transition: 0.3s;
}

.inputSignin-div:after {
  right: 50%;
}
.inputSignin-div::before {
  left: 50%;
}
.inputSignin-div.focus .i i {
  color: #00deaf;
}
.inputSignin-div.focus div h5 {
  top: -5px;
  font-size: 15px;
}
.inputSignin-div.focus:after,
.inputSignin-div.focus:before {
  width: 50%;
}
.inputSignin-div.one {
  margin-top: 0;
}
.inputSignin-div.two {
  margin-top: 4px;
}

.i {
  display: flex;
  justify-content: center;
  align-items: center;
}
.i i {
  color: #d9d9d9;
  transition: 0.3s;
}

.inputSignin-div > div {
  position: relative;
  height: 45px;
}

.inputSignin-div > div h5 {
  position: absolute;
  left: 10px;
  top: 50%;
  transform: translateY(-50%);
  color: #999;
  font-size: 18px;
  transition: 0.3s;
}

.lginput {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  border: none;
  outline: none;
  background: none;
  padding: 0.5rem 0.7rem;
  font-size: 1.2rem;
  color: #555;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

a.linkregister {
  display: block;
  text-align: center;
  text-decoration: none;
  color: #999;
  font-size: 0.9rem;
  transition: 0.3s;
  font-size: 1rem;
}
a.linkregister:hover {
  color: #00deaf;
}

.prcontainer {
  background-color: #ffdee9;
  background-image: linear-gradient(0deg, #ffdee9 0%, #b5fffc 100%);

  height: 100vh;
}

.btnLg {
  display: block;
  width: 100%;
  height: 50px;
  border-radius: 25px;
  margin: 1rem 0;
  font-size: 1.2rem;
  outline: none;
  border: none;
  cursor: pointer;
  color: #fff;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  background-size: 200%;
  text-transform: uppercase;
  transition: 0.5s;
  background-color: #3eecac;
  background-image: linear-gradient(19deg, #3eecac 0%, #ee74e1 100%);
}

.btnLg:hover {
  background-position: right;
}

footer {
  width: 100%;
  background-color: #32323267;
  color: #f2f2f2;
  height: 8vh;
  text-align: center;
  padding-top: 3vh;
  padding-bottom: 1vh;
}
/* important part for any devices */
@media screen and (max-width: 1050px) {
  .lgcontainer {
    grid-gap: 5rem;
  }
  body {
    background-color: rgb(86, 153, 216);
  }
  form h2 {
    color: whitesmoke;
  }
  .inputSignin-div > div h5 {
    color: snow;
  }
  a {
    color: snow;
  }
}

@media screen and (max-width: 1000px) {
  form {
    width: 290px;
  }
  form h2 {
    font-size: 2.4rem;
    margin: 8px 0;
  }
  .login-img img {
    width: 400px;
  }
  body {
    background-color: blueviolet;
  }
  form h2 {
    color: whitesmoke;
  }
  .inputSignin-div > div h5 {
    color: snow;
  }
  a {
    color: snow;
  }
}

.signInTitle {
  -webkit-text-fill-color: transparent !important;
  background: -webkit-linear-gradient(
    45deg,
    #5ebbff -33%,
    #a174ff 69%
  ) !important;
  -webkit-background-clip: text !important;
  background-clip: text !important;
}

@media screen and (max-width: 900px) {
  .login-img {
    display: none;
  }
  .lgcontainer {
    grid-template-columns: 1fr;
  }

  .login-container {
    justify-content: center;
  }
  footer {
    width: auto;
    height: auto;
  }
  body {
    background-color: black;
  }
  form h2 {
    color: whitesmoke;
  }
  .inputSignin-div > div h5 {
    color: snow;
  }
  a {
    color: snow;
  }
}
