@import url("https://fonts.googleapis.com/css2?family=League+Spartan:wght@100;200;300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Spartan", sans-serif;
}

h1 {
  font-size: 50px;
  line-height: 64px;
  color: #222;
}

h2 {
  font-size: 46px;
  line-height: 54px;
  color: #222;
}

h4 {
  font-size: 20px;
  color: #222;
}
h6 {
  font-weight: 700;
  font-size: 12px;
}
p {
  font-size: 16px;
  color: #668075;
  margin: 15px 0 20px 0;
}

.section-p1 {
  padding: 40px 50px;
  /* padding: 40px 50px; */
}

.section-m1 {
  margin: 40px 0px;
}
button.normal {
  font-size: 14px;
  font-weight: 600;
  padding: 15px 30px;
  color: #000;
  background-color: white;
  border-radius: 4px;
  cursor: pointer;
  border: none;
  outline: none;
  transition: 0.2s;
}

button.white {
  font-size: 13px;
  font-weight: 600;
  padding: 11px 18px;
  color: white;
  background-color: transparent;
  cursor: pointer;
  border: 1px solid white;
  outline: none;
  transition: 0.2s;
}

body {
  width: 100%;
}

/* Header */
#header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 80px;
  background: #e3e6f3;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.06);
  z-index: 999;
  position: fixed !important;
  top: 0;
  right: 0;
  left: 0;
}

#navbar {
  display: flex;
  align-items: center;
  justify-content: center;
}

#navbar li {
  list-style: none;
  padding: 0 20px;
  position: relative;
}

#navbar li a {
  text-decoration: none;
  font-size: 16px;
  font-weight: 600px;
  color: #1a1a1a;
  transition: 0.3 ease;
}

#navbar li a:hover,
#navbar li a.active {
  color: #088178;
}

#navbar li a.active::after,
#navbar li a:hover::after {
  content: "";
  width: 30%;
  height: 2px;
  background: #088178;
  position: absolute;
  bottom: -4px;
  left: 40px;
}
/* =========================Hero 2========= */
#hero {
  background-image: url("../img/hero4a.png");
  height: 90vh;
  width: 100%;
  background-position: top 25% right 0;
  padding: 0 80px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  margin-top: 76px;
}

#hero h4 {
  padding-bottom: 15px;
}

#hero h1 {
  color: #088178;
}

#hero button {
  background-image: url("../img/button.png");
  background-color: transparent;
  color: #088178;
  border: 0;
  padding: 14px 80px 14px 65px;
  background-repeat: no-repeat;
  cursor: pointer;
  font-weight: 700;
  font-size: 15px;
}

/* ==================feature 3=============== */
#feature {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}
#feature .fe-box {
  width: 180px;
  text-align: center;
  padding: 25px 15px;
  box-shadow: 20px 20px 34px rgba(0, 0, 0, 0.03);
  border: 1px solid #cce7d0;
  border-radius: 4px;
  margin: 15px 0;
}
#feature .fe-box:hover {
  box-shadow: 10px 10px 54px rgba(70, 62, 221, 0.1);
}
#feature .fe-box img {
  width: 100%;
  margin-bottom: 10px;
}
#feature .fe-box h6 {
  padding: 9px 8px 6px 8px;
  line-height: 1;
  border-radius: 4;
  color: #088178;
  background-color: #fddde4;
}

#feature .fe-box:nth-child(2) h6 {
  background-color: #cdebbc;
}
#feature .fe-box:nth-child(3) h6 {
  background-color: #d1e8f2;
}
#feature .fe-box:nth-child(4) h6 {
  background-color: #cdd4f8;
}
#feature .fe-box:nth-child(5) h6 {
  background-color: #f6dbf6;
}
#feature .fe-box:nth-child(6) h6 {
  background-color: #fff2e5;
}

/* ================product1 5=============== */
#product1 {
  text-align: center;
}
#product1 .pro-container {
  display: flex;
  justify-content: space-between;
  padding-top: 20px;
  flex-wrap: wrap;
}
#product1 .pro {
  width: 23%;
  min-width: 250px;
  padding: 10px 12px;
  border: 1px solid #cce7d0;
  border-radius: 25px;
  cursor: pointer;
  box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.02);
  margin: 15px 0;
  transition: 0.2 ease;
  position: relative;
}
#product1 .pro:hover {
  box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.06);
}

#product1 .pro img {
  width: 100%;
  border-radius: 20px;
}
#product1 .pro .des {
  text-align: start;
  padding: 10px 0;
}
#product1 .pro .des span {
  color: #606063;
  font-size: 12px;
}

#product1 .pro .des h5 {
  padding-top: 7px;
  color: #1a1a1a;
  font-size: 14px;
}
/* star color */
#product1 .pro .des i {
  font-size: 12px;
  color: rgb(234, 181, 25);
}
#product1 .pro .des h4 {
  padding-top: 7px;
  font-size: 15px;
  font-weight: 700;
  color: #088178;
}

#product1 .pro .cart {
  width: 50px;
  height: 50px;
  line-height: 50px;
  border-radius: 50px;
  background-color: #e8f6ea;
  font-weight: 500;
  color: #088178;
  border: 1px solid #cce7d0;
  position: absolute;
  bottom: 20px;
  right: 30px;
}
/* =============================Banner 4=========== */
#banner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-image: url("../img/banner/b2.jpg");
  width: 100%;
  height: 40vh;
  background-size: cover;
  background-position: center;
}

#banner h4 {
  color: #fff;
  font-size: 30px;
}
#banner h2 {
  color: #fff;
  font-size: 30px;
  padding: 10px 0;
}
#banner h2 span {
  color: red;
}
#banner button:hover {
  color: white;
  background: #088178;
}

/* =============sm-banner 6===============  */
#sm-banner {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
#sm-banner .banner-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  background-image: url("../img/banner/b17.jpg");
  /* min-width: 580px; */
  min-width: 690px;

  height: 50vh;
  background-size: cover;
  background-position: center;
  padding: 30px;
}

#sm-banner .banner-box2 {
  background-image: url("../img/banner/b10.jpg");
}
#sm-banner h4 {
  color: white;
  font-size: 20px;
  font-weight: 300px;
}
#sm-banner h2 {
  color: white;
  font-size: 28px;
  font-weight: 800px;
}
#sm-banner span {
  color: white;
  font-size: 14px;
  font-weight: 500px;
  padding-bottom: 15px;
}

#sm-banner .banner-box:hover button {
  background: #088178;
  border: 1px solid #088178;
}

/* ================ */
#banner3 {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 0 80px;
}

#banner3 .banner-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  background-image: url("../img/banner/b7.jpg");
  min-width: 30%;
  height: 30vh;
  background-size: cover;
  background-position: center;
  padding: 20px;
  margin-bottom: 20px;
}
#banner3 .banner-box2 {
  background-image: url("../img/banner/b4.jpg");
}
#banner3 .banner-box3 {
  background-image: url("../img/banner/b18.jpg");
}
#banner3 h2 {
  color: #fff;
  font-weight: 900;
  font-size: 22px;
}

#banner3 h3 {
  color: #ec544e;
  font-weight: 800;
  font-size: 15px;
}
/* =================== newsletter */
#newsletter {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
  background-image: url("../img/banner/b14.png");
  background-repeat: no-repeat;
  background-position: 20% 30%;
  background-color: #041e42;
}
#newsletter h4 {
  font-size: 22px;
  font-weight: 700;
  color: #fff;
}
#newsletter p {
  font-size: 14px;
  font-weight: 600;
  color: #818ea0;
}

#newsletter p span {
  color: #ffbd27;
}

#newsletter .form {
  display: flex;
  width: 40%;
}
#newsletter p span {
  color: #ffbd27;
}
#newsletter input {
  height: 3.125rem;
  padding: 0 1.25em;
  font-size: 14px;
  width: 100%;
  border: 1px solid transparent;
  border-radius: 4px;
  outline: none;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}
#newsletter button {
  background-color: #088178;
  color: white;
  white-space: nowrap;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}
/* ================footer=============== */
#footer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
#footer .col {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-bottom: 20px;
}
#footer .copyright {
  display: inline-block;
  margin-bottom: 0px;
}

#footer .logo {
  margin-bottom: 30px;
}
#footer h4 {
  font-size: 14px;
  padding-bottom: 20px;
}
#footer p {
  font-size: 13px;
  margin: 0 0 8px 0;
}
#footer a {
  font-size: 13px;
  text-decoration: none;
  color: #222;
  margin-bottom: 10px;
}

#footer.follow {
  margin-top: 20px;
}
#footer .follow i {
  color: #465b52;
  padding-right: 4px;
  cursor: pointer;
}
#footer .install .row img {
  border: 1px solid #088178;
  border-radius: 6px;
}
#footer .install img {
  margin: 10px 0 15px 0;
}
#footer .follow i:hover,
a:hover {
  color: #088178;
}
#footer .copyright {
  width: 100%;
  text-align: center;
}

/* ================= */
.dropdown-item.active,
.dropdown-item:active {
  background-color: #e3e6f3 !important;
}

/* ==========++++++===================== */
/* ********************************Shop Page******************/
#page-header {
  background-image: url("../img/banner/b1.png");
  width: 100%;
  height: 40vh;
  background-size: cover;
  display: flex;
  justify-content: center;
  text-align: center;
  flex-direction: column;
  padding: 14px;
}
#page-header h2,
#page-header p {
  color: white;
}

#pagination {
  text-align: center;
}

#pagination a {
  text-decoration: none;
  background-color: #088178;
  padding: 15px 20px;
  border-radius: 4px;
  color: #fff;
  font-weight: 600;
}
#pagination a i {
  font-size: 16px;
  font-weight: 600;
}

/* **************************Singlea Product Page********** */
#prodetails {
  display: flex;
  margin: 20px;
  margin-left: 70px;
}

#prodetails .single-pro-image {
  width: 40%;
  margin-right: 50px;
}

.small-img-group {
  display: flex;
  justify-content: space-between;
}

.small-img-col {
  flex-basis: 24%;
  cursor: pointer;
}

#prodetails .single-pro-details {
  width: 50%;
  padding-top: 30px;
}

#prodetails .single-pro-details h4 {
  padding: 40px 0 20px 0;
}
#prodetails .single-pro-details h2 {
  font-size: 26px;
}
#prodetails .single-pro-details select {
  display: block;
  padding: 5px 10px;
  margin-bottom: 10px;
}
#prodetails .single-pro-details input {
  width: 50px;
  height: 47px;
  padding-left: 10px;
  font-size: 16px;
  margin-right: 10px;
}
#prodetails .single-pro-details input:forcus {
  outline: none;
}
#prodetails .single-pro-details button {
  background-color: #088178;
  color: #fff;
}
#prodetails .single-pro-details span {
  line-height: 25px;
}

/* *************************Blog page*************** */
#page-header.blog-header {
  background-image: url("../img/banner/b19.jpg");
}

#blog {
  padding: 150px 150px 0px 150px;
}
#blog .blog-box {
  display: flex;
  align-items: center;
  width: 100%;
  position: relative;
  padding-bottom: 90px;
}
#blog .blog-img {
  width: 50%;
  margin-right: 40px;
}

#blog img {
  width: 100%;
  height: 300px;
  object-fit: cover;
}
#blog .blog-details {
  width: 50%;
}
#blog .blog-details a {
  text-decoration: none;
  font-size: 11px;
  color: #000;
  font-weight: 700;
  position: relative;
  transition: 0.3s;
}
#blog .blog-details a::after {
  content: "";
  width: 50px;
  height: 1px;
  background-color: #000;
  position: absolute;
  top: 4px;
  right: -60px;
}
#blog .blog-details a:hover {
  color: #088178;
}
#blog .blog-details a:hover::after {
  background-color: #088178;
}
#blog .blog-box h1 {
  position: absolute;
  top: -74px;
  left: 0;
  font-size: 70px;
  font-weight: 700;
  color: #c9cbce;
  z-index: -9;
}
/* *************************About Us page*************** */
#page-header.about-header {
  /* background-image: url("../img/about/banner.png"); */
  background-image: url("../img/Hero8.png");
}
#about-head {
  display: flex;
  align-items: center;
}

#about-head img {
  width: 50%;
  height: auto;
}
#about-head div {
  padding-left: 40px;
}

#about-app {
  text-align: center;
}

#about-app.video {
  width: 70%;
  height: 100%;
  margin-top: 30px auto 0 auto;
}
#about-app .video video {
  width: 70%;
  height: 100%;
  border-radius: 20px;
}

/* *****************Contact Page *************/
#contact-details {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#contact-details .details {
  width: 40%;
}

#contact-details .details span {
  font-size: 12px;
}

#contact-details .details h2,
#form-details form h2 {
  font-size: 26px;
  line-height: 35px;
  padding: 20px 0;
}

#contact-details .details h3 {
  font-size: 16px;
  padding-bottom: 15px;
}
#contact-details .details li {
  list-style: none;
  display: flex;
  padding: 10px 0;
}

#contact-details .details li i {
  font-size: 14px;
  padding-right: 22px;
}

#contact-details .details li p {
  margin: 0;
  font-size: 14px;
}

#contact-details .map iframe {
  width: 100%;
  height: 100%;
}
#contact-details .map {
  width: 55%;
  height: 400px;
}
#form-details {
  display: flex;
  justify-content: space-between;
  margin: 30px;
  padding: 80px;
  border: 1px solid #e1e1e1;
}
#form-details form {
  width: 65%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
#form-details form input,
#form-details form textarea {
  width: 100%;
  padding: 12px 15px;
  margin-bottom: 20px;
  border: 1px solid #e1e1e1;
}

#form-details form button {
  background-color: #088178;
  color: white;
}

#form-details .people div {
  padding-bottom: 25px;
  display: flex;
  align-items: flex-start;
}
#form-details .people div img {
  width: 65px;
  height: 65px;
  object-fit: cover;
  margin-right: 15px;
}
#form-details .people div p {
  margin: 0;
  font-size: 13px;
  line-height: 25px;
}
#form-details .people div p span {
  display: block;
  font-size: 16px;
  font-weight: 600;
  color: #000;
}

/* *************************************Cart Page********** */
#cart table {
  width: 100%;
  border-collapse: collapse;
  table-layout: fixed;
  white-space: nowrap;
}

#cart table img {
  width: 70px;
}
#cart table td:nth-child(1) {
  width: 100px;
  text-align: center;
}
#cart table td:nth-child(2) {
  width: 150px;
  text-align: center;
}
#cart table td:nth-child(3) {
  width: 250px;
  text-align: center;
}
#cart table td:nth-child(4),
#cart table td:nth-child(5),
#cart table td:nth-child(6) {
  width: 150px;
  text-align: center;
}
#cart table td:nth-child(5) input {
  width: 70px;
  padding: 10px 5px 10px 15px;
}
#cart table thead {
  border: 1px solid #e2e9e1;
  border-left: none;
  border-right: none;
}
#cart table thead td {
  font-weight: 700;
  text-transform: uppercase;
  font-size: 13px;
  padding: 18px 0;
}
#cart table tbody tr td {
  padding-top: 15px;
}
#cart table tbody td {
  font-size: 13px;
}

#cart-add {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

#coupon {
  width: 50%;
  margin-bottom: 30px;
}
#coupon h3,
#subtotal h3 {
  padding-bottom: 15px;
}
#coupon input {
  padding: 10px 20px;
  outline: none;
  width: 60%;
  margin-right: 10px;
  border: 1px solid #e2e9e1;
}

#coupon button,
#subtotal button {
  background-color: #088178;
  color: #fff;
  padding: 12px 20px;
}

#subtotal {
  width: 50%;
  margin-bottom: 30px;
  border: 1px solid #e2e9e1;
  padding: 30px;
}
#subtotal table {
  border-collapse: collapse;
  width: 100%;
  margin-bottom: 20px;
}
#subtotal table td {
  width: 50%;
  border: 1px solid #e2e9e1;

  padding: 10px;
  font-size: 13px;
}

.who-we-are {
  font-size: 46px !important;
  text-transform: none !important;
  letter-spacing: normal !important;
}

.mt-9 {
  margin-top: 6rem !important;
}

.dropdown-item:focus,
.dropdown-item:hover {
  color: #0d0d0d;
  text-decoration: none;
  background-color: #e3e6f3 !important;
}

.highlight {
  -webkit-text-fill-color: transparent !important;
  background: -webkit-linear-gradient(
    45deg,
    #5ebbff -33%,
    #a174ff 69%
  ) !important;
  -webkit-background-clip: text !important;
  background-clip: text !important;
}

.custom-file-input-v::-webkit-file-upload-button {
  visibility: hidden;
}
.custom-file-input-v::before {
  content: "Select some files";
  display: inline-block;
  background: linear-gradient(top, #f9f9f9, #e3e3e3);
  border: 1px solid #999;
  border-radius: 3px;
  padding: 5px 8px;
  outline: none;
  white-space: nowrap;
  -webkit-user-select: none;
  cursor: pointer;
  text-shadow: 1px 1px #fff;
  font-size: 10pt;
  color: black !important;
}
.custom-file-input-v {
  color: #fff;
}
.custom-file-input-v:hover::before {
  border-color: black;
}
.custom-file-input-v:active::before {
  background: -webkit-linear-gradient(top, #e3e3e3, #f9f9f9);
}

.btn5-hover {
  width: 120px;
  font-size: 16px;
  font-weight: 600;
  color: #fff;
  cursor: pointer;
  margin: 20px;
  height: 40px;
  text-align: center;
  border: none;
  background-size: 300% 100%;
  border-radius: 50px;
  moz-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}

.btn5-hover:hover {
  background-position: 100% 0;
  moz-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}

.btn5-hover:focus {
  outline: none;
}

.btn5-hover.btn5 {
  background-image: linear-gradient(
    to right,
    #25aae1,
    #4481eb,
    #04befe,
    #3f86ed
  );
  box-shadow: 0 4px 15px 0 rgba(65, 132, 234, 0.75);
}

.input-month {
  outline: none;
  border: none;
  border-bottom: 4px solid #6ae37d;
  text-align: center;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  letter-spacing: normal !important;
  text-transform: none !important;
}

#footer .install img {
  margin: 10px 5px 15px 0;
}
#footer h4 {
  padding-bottom: 3px;
}

#hero > h2 {
  font-size: 46px;
}
#hero > h1 {
  font-size: 50px;
}
#hero > h4,
#hero > h1,
#hero > h2 {
  margin-bottom: -0.5rem;
}
strong {
  font-weight: bold !important;
}
.widthlength {
  padding: 38px 100px;
}
#footer a {
  font-size: 14px;
  color: #222;
}
#footer a:hover {
  font-size: 14px;
  color: #088178;
}
#footer p {
  font-size: 14px;
}
#footer h4 {
  font-size: 1.25rem !important;
}
#contact-details .details li {
  padding: 5px 0px;
}
#contact-details .details li p {
  font-size: 15px;
}
#contact-details .details span {
  font-size: 14px;
}

.main-blog {
  margin-top: 80px;
}

.container-blog {
  margin: 0 auto;
  width: 800px;
  text-align: center;
}

.container-blog h1 {
  font-family: "Ubuntu", sans-serif;
  font-size: 38px;
  line-height: 60px;
  font-weight: 700;
}

.container-blog h2 {
  text-align: left;
  margin-top: 30px;
  font-family: "Ubuntu", sans-serif;
  font-weight: 700;
  color: #f47498;
}

.author-blog {
  margin-top: 30px;
  display: flex;
  justify-content: space-evenly;
}
.author-blog li {
  display: inline-block;
  list-style: none;
  font-family: sans-serif;
  font-size: 12px;
}

.line-blog {
  margin-top: 20px;
}

.blog-paragraph {
  font-family: "Ubuntu", sans-serif;
  font-weight: 400;
  margin-top: 32px;
  font-size: 18px;
  line-height: 26px;
  text-align: justify;
  color: black !important;
}

.img-blog {
  max-width: 100%;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.9);
  margin-top: 30px;
}

.banner-blog {
  width: 1200px;
  margin: 0 auto;
}

.banner-blog img {
  max-width: 100%;
  margin-top: 80px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
  border-radius: 10px;
  margin-bottom: 60px;
}
.filter-category {
  position: relative;
  bottom: 28px;
}


/* Product details */


.main-product-details {
  width: 1300px;
  margin: 0 auto;
  margin-top: 110px;
}

.container-img-product-details,
.container-information-product-details {
  float: left;
  min-height: 500px;
  width: 50%;
}

.container-img-product-details {
  text-align: center;
}

.container-img-product-details img {
  height: 556px;
  border-radius: 10px;
}

.container-information-product-details {
  border: 1px solid gray;
  border-radius: 10px;
  padding: 10px;
}

.container-information-product-details h2 {
  font-family: "Nunito", sans-serif;
  font-size: 21px;
  font-weight: 300;
}

.container-information-product-details .price-product-details {
  width: 100%;
  height: 66px;
  background: #e6f0f4;
  margin-top: 30px;
  padding: 10px;
  border-radius: 10px;
  font-family: "Nunito", sans-serif;
  color: #05668d;
  font-weight: 700;
  font-size: 20px;
  line-height: 46px;
  text-align: center;
}

.container-information-product-details select {
  margin-top: 30px;
  padding: 8px 16px;
  border: 1px solid #98a2b3;
  border-radius: 4px;
}
.container-information-product-details input {
  padding: 6px 16px;
  max-width: 120px;
  border-radius: 4px;
  outline: none;
  border: 1px solid gray;
  margin-left: 10px;
}

.btn-cart-product-details {
  background-color: #e6f0f4;
  max-width: 190px;
  text-align: center;
  padding: 10px 14px;
  font-family: "Nunito";
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 20px;
  letter-spacing: 1.25px;
  color: #05668d;
  border: 1px solid #05668d;
  border-radius: 4px;
  margin: 0 auto;
  margin-top: 30px;
  cursor: pointer;
}

.btn-cart-product-details:hover{
  opacity: 0.8;
}

.description-product-details h2 {
  margin-top: 20px;
  font-size: 18px;
}

.description-product-details p {
  font-family: "Nunito";
  font-weight: 300;
  margin-top: 10px;
  min-height: 150px;
}

.related-product-details {
  margin-top: 40px;
  min-height: 463px;
  border: 1px solid Gray;
  border-radius: 10px;
  padding: 20px;
}

.related-product-details p {
  font-family: "Nunito", sans-serif;
  font-size: 21px;
  font-weight: 300;
}


.item-product-details {
  width: 220px;
  height: 464px;
  border-radius: 4px;
  float: left;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  margin: 0 15px;
  margin-top: 20px;
}

.item-product-details-img {
  height: 60%;
}
.item-product-details img {
  width: 100%;
  border-radius: 4px;
  height: 100%;
}

.item-product-details-description {
  padding: 10px;
}

.item-product-details-description h2 {
  font-family: "Nunito", sans-serif;
  font-size: 18px;
  font-weight: 300;
}

.item-product-details-description p {
  margin-top: 10px;
}

.item-product-details-description .btn-add-cart-product-details {
  background: #05668d;
  font-family: "Nunito", sans-serif;
  border-radius: 4px;
  color: #fff;
  margin-top: 20px;
  padding: 10px;
  text-align: center;
}

.comment-product-details {
  margin-top: 40px;
  border: 1px solid Gray;
  min-height: 600px;
  border-radius: 10px;
  padding: 50px;
}

.comment-product-details h2 {
  font-family: "Nunito", sans-serif;
  font-size: 21px;
  font-weight: 300;
}

.item-review-product-details {
  border: 1px solid Gray;
  min-height: 200px;
  margin: 0 auto;
  border-radius: 10px;
  padding: 20px;
  margin-top:20px;
}

.user-review {
  font-size: 16px;
  font-family: "Nunito", sans-serif;
  font-size: 21px;
}

.user-comment {
  font-family: "Nunito", sans-serif;
  margin-top: 20px;
}



.my-clear::after {
  content: "";
  display: block;
  clear: both;
}


.write-review-product-details textarea{
  border-radius: 10px;
  padding: 20px;
  font-size: 18px;
  outline: none;
  width:100%;
}

.write-review-product-details button {
  float: right;
  outline: none;
  width: 200px;
  background-color: #e6f0f4;
  max-width: 190px;
  text-align: center;
  padding: 10px 14px;
  font-weight: 500;
  color: #05668d;
  border: 1px solid #05668d;
  border-radius: 4px;
  margin-top: 20px;
}

.update-profile  button{
  width: 249px;

  background-color: #e6f0f4;
  max-width: 300px;
  text-align: center;
  padding: 10px 14px ;
  font-weight: 500;
  color: #05668d ;
  border: 1px solid #05668d ;
  border-radius: 4px;
  margin-top: 30px;
}


.write-review-product-details select {
    margin-bottom: 12px;
    padding: 10px 16px;
    border: none;
    border-bottom: 2px solid lightblue;
    border-radius: 10px;
    text-align: center;
}

.blackbgr{
  background: black;
}


.ABCD button{
  background-color: #e6f0f4;
  text-align: center;
  padding: 7px 7px ;
  font-weight: 500;
  color: #05668d ;
  border: 1px solid #05668d ;
  border-radius: 4px;
  margin-top: 0px;
}

.about-img{
  transition: transform ease 1s 
}

.about-img:hover{
  transform: translateY(-80px);
}

